/* Pleine hauteur pour les iframes */
iframe {
    height: 100vh;
    width: 100%;
}

/* Style général de la page */
body {
    margin: 0;
    padding: 0;
    background-color: #f4c9f5;
    font-family: 'Georgia', serif;
    font-size: 16px;
}

/* Style des boutons */
.bouton {
    display: inline-block;
    text-align: center;
    text-decoration: underline;
    font-weight: 400;
    color: #F8B8FF;
    font-size: 4rem;
    line-height: 2em;
    margin: 0 20px; /* espace entre les boutons */
}

/* Bouton actif */
.bouton.active {
    color: #08c5F3;
}

/* Images flottantes */
img {
    float: left;
    margin-right: 20px;
}

/* Largeur des titres de tableau */
th {
    width: 200px;
}

/* Style des listes */
ul {
    list-style-type: square;
}

/* En-tête */
#entete-de-page {
    padding: 5px;
    height: 100px;
    background-color: #FFE3E3;
    font-size: 32px;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
}

/* Menu */
#bloc-menu {
    height: 36px;
    background-color: #FFE3E3;
    text-align: center;
    color: white;
}

/* Contenu principal */
#contenu {
    padding: 10px;
    background-color: beige;
}

/* Bloc informations */
#infos {
    color: darkblue;
    font-style: italic;
}

/* Pied de page */
#pied-de-page {
    padding: 5px;
    background-color: #FFE3E3;
    font-size: 11px;
}

/* Image aux bords arrondis */
.arrondie {
    border-radius: 7px;
}
